<div class="mb-4 p-8 items-center">
  <p-card class="overflow-hidden">
    <ng-template #header class="object-cover">
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Comex 2026 </ng-template>
    <ng-template #subtitle> Technology </ng-template>
    <div class="flex">
      <i class="pi pi-calendar py-1"></i>
      <p class="flex px-2">6 Sep 2026, 9:00 AM</p>
    </div>
    <div class="flex">
      <i class="pi pi-car py-1"></i>
      <p class="flex px-2">Muscat Hills</p>
    </div>
    <div class="flex">
      <i class="pi pi-address-book py-1"></i>
      <p class="flex px-2">3500 attending</p>
    </div>
    <div class="flex justify-end">
      <p class="flex text-xl">From</p>
      <img [src]="omanCurrencyLogo" alt="Local Image" width="10" height="20" class="h-6 w-auto" />
      <p class="flex text-xl">5</p>
    </div>
  </p-card>
  <div class="flex"></div>
</div>
