<div class="mb-4 p-8 items-center">
  <p-card class="overflow-hidden">
    <ng-template #header class="object-cover">
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Comex 2026 </ng-template>
    <ng-template #subtitle> Technology </ng-template>
    <div class="flex">
      <i class="pi pi-calendar py-1"></i>
      <p class="flex px-2">6/9/2026</p>
    </div>
    <div class="flex">
      <i class="pi pi-car py-1"></i>
      <p class="flex px-2">Muscat Hills</p>
    </div>
  </p-card>
</div>
