<div class="border-2 border-solid border-black rounded-xl flex">
  <div class="grid">
    <img [src]="eventLogoPlaceholder" alt="Placeholder Event Image" class="h-30 w-auto flex" />
  </div>
  <div class="grid">
    <p class="text-2xl text-black my-7 font-semibold">Comex 2026</p>
    <div class="-my-10">
      <div class="flex">
        <i class="pi pi-car py-1 text-black"></i>
        <p class="flex px-2 text-black">Muscat Hills</p>
      </div>
      <div class="flex">
        <i class="pi pi-calendar py-1 text-black"></i>
        <p class="flex px-2 text-black">Sun, 6 Sep 2026</p>
      </div>
      <div class="flex">
        <i class="pi pi-clock py-1 text-black"></i>
        <p class="flex px-2 text-black">10:00 AM</p>
      </div>
    </div>
  </div>
</div>
